@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        ようこそ Build Insider のサンプルへ。<br/>
        このアプリのプリロードの状態: @ViewBag.PreWarmed
    </div>
</body>
</html>
